*{
    margin: 0;padding: 0;box-sizing: border-box;
}


.box{
    width: 450px;
    height: 272px;
   
    margin: 3vh auto;
}
.box img{
    width: 100%;
    
}
button{
    width: 100px;
    outline: none;
    border: 1px solid white;
    margin: 2vh 50%;
    transform: translate(-50%);
    color: #2d2d2d;
    font-size: 12px;
    font-family: sans-serif;
}
h4{
    font-family: sans-serif;
    color: #3d3d3d;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.2);
}
.none{
    display: none;
}
.show{
    display: block;
    
}